h1 {
    background-color: crimson;
    font-family : 'Times New Roman', Times, serif;
    font-size-adjust: initial
}

table {
    font-family: 'Times New Roman', Times, serif;
    font-size-adjust:initial
}
body{

}

.button{
background-color:darkgreen;

}
